.sec01 {
    padding: 260px 0 100px 0;
    .contents {
        .title {
            font-size: 50px;
            line-height: 70px;
            font-weight: 700;
        }
    }
}
.sec02 {
    .contents {
        width: 100%;
        height: 500px;
        background: url('../img/history_img01.jpg') no-repeat center center;
        position: relative;
        .info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            p {
                display: inline-block;
                text-align: center;
                .copy {
                    color: #ffffff;
                    line-height: 20px;
                    font-size: 26px;
                    line-height: 40px;
                    font-weight: 700;
                }
                .dot {
                    display: block;
                    text-align: center;
                    position: relative;
                    padding-top: 60px;
                    .w-dot {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #ffffff;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        
                    }
                    .op-dot {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #ffffff;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        opacity: 0.8;
                        animation: opdot 1s infinite ease-out;
                    }
                }
            }
            p:nth-child(2) {
                    padding: 0 200px;
            }
            .line {
                display: inline-block;
                width: 100%;
                height: 2px;
                background: #ffffff;
                transform: translateY(-44px);
            }
        }
    }
}
.sec03 {
    .contents {
        .title {
            padding-top: 100px;
            position: relative;
            p {
                font-size: 30px;
                line-height: 45px;
                font-weight: 700;
                span {
                    color: #0060f6;
                }
            }
            .yyyy {
                font-size: 60px;
                font-weight: 700;
                color: #e9e9e9;
                position: absolute;
                bottom: -3px;
                right: 0;
            }
            .line {
                display: inline-block;
                width: 100%;
                height: 1px;
                background: #e9e9e9;
            }
        }
        .list {
            font-size: 0;
            padding-left: 20px;
            li {
                padding-top: 20px;
                .year {
                    font-size: 30px;
                    font-weight: 700;
                    vertical-align: middle;
                }
                .copy {
                    vertical-align: middle;
                    font-size: 18px;
                    padding-left: 20px;
                }
            }
            li:nth-child(1) {
                padding-top: 40px;
            }
        }
        .box02 {
            text-align: right;
            .title {
                .yyyy-r {
                    font-size: 60px;
                    font-weight: 700;
                    color: #e9e9e9;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                }
            }
            .list {
                padding-right: 20px;
            }
            .copy {
                padding: 0 20px 0 0;
            }
        }
        .box03 {
            padding-bottom: 200px;
        }
    }
}