// main Header style START
.header {
    .gnb {
        background: rgba($color: #ffffff, $alpha: 0);
        border-bottom: solid 0 #ededed;
        color: #ffffff;
        transition: all 0.2s;
        .black-logo {
            .op-logo {
                opacity: 1;
            }
        }
    }
    .gnb:hover {
        background: rgba($color: #ffffff, $alpha: 1.0);
        border-bottom: solid 1px #ededed;
        color: #141414;
    }
    .gnb:hover > .black-logo > .white-logo {
        opacity: 0;
    }
}
.overheight-gnb {
    color: #141414 !important;
    background: #ffffff !important;
    border-bottom: solid 1px #ededed !important;
}
.overheight-logo {
    opacity: 0;
}
// main Header style END

.container {
    width: 100%;
    .sec-tit {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
        p {
            display: inline-block;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            border-bottom: solid 4px #141414;
        }
    }
    .visual {
        width: 100%;
        height: 100vh;
        font-size: 0;
        overflow: hidden;
        position: relative;
        background: #141414;
        .main-video {
            position: relative;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            .text-slider {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 30%;
                left: 0;
                z-index: 1;
                opacity: 0;
                animation: titFade 3s forwards;
                animation-delay: 1.5s;
                .text-slide {
                    text-align: center;
                    .tit {
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: 600;
                        font-size: 70px;
                        line-height: 80px;
                        color: #ffffff;
                    }
                    .copy {
                        font-family: 'Noto Sans KR', sans-serif;
                        font-weight: 100;
                        font-size: 18px;
                        line-height: 100%;
                        color: #ffffff;
                        padding-top: 30px;
                    }
                }
                .text-slide03 {
                    padding-top: 60px;
                }
            }
            .mouse-scroll {
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 1;
                text-align: center;
                .mouse-icon {
                    display: inline-block;
                    width: 20px;
                    height: 30px;
                    border-radius: 10px;
                    border: solid 2px #ffffff;
                    .mouse-wheel {
                        display: inline-block;
                        width: 2px;
                        height: 6px;
                        background: #ffffff;
                        animation: mouse 1s infinite;
                    }
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #ffffff;
                    padding-top: 10px;
                    animation: mouseText 0.5s infinite alternate;
                }
            }
    
            .dark-over {
                display: inline-block;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.7);
                position: absolute;
                top: -1px;
                left: 0;
                padding-top: 1px;
            }
        }
    }
    .sec01 {
        padding: 150px 0;
        .conbox {
            .item {
                box-sizing: border-box;
                border: solid 1px #ededed;
                display: inline-block;
                position: relative;
            }
            .dark-over {
                display: inline-block;
                width: 100%;
                height: 100%;
                background: #141414;
                opacity: 0;
                transition: all 0.5s;
            }
            .text {
                font-size: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #ffffff;
                text-align: center;
                transition: all 0.5s;
                opacity: 0;
                p {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    padding: 20px 0;
                }
                a {
                    font-family: 'Josefin Sans', sans-serif;
                    display: inline-block;
                    width: 150px;
                    height: 40px;
                    border: solid 1px #ffffff;
                    line-height: 40px;
                }
            }
            .item:hover .dark-over {
                opacity: 0.9;
            }
            .item:hover .text {
                opacity: 1;
            }
            .list01 {
                font-size: 0;
                .item {
                    width: 350px;
                    height: 300px;
                }
                .item01 {
                    margin-left: 20px;
                    background: url('../img/media01.jpg') no-repeat center center;
                }
                .item02 {
                    margin: 0 25px;
                    background: url('../img/media02.jpg') no-repeat center center;
                }
                .item03 {
                    background: url('../img/media03.jpg') no-repeat center center;
                }
            }
            .list02 {
                font-size: 0;
                padding-top: 25px;
                .item {
                    width: 540px;
                    height: 240px;
                }
                .item01 {
                    margin-left: 20px;
                    background: url('../img/media04.jpg') no-repeat center center;
                }
                .item02 {
                    margin-left: 20px;
                    background: url('../img/media05.jpg') no-repeat center center;
                }
            }
        }
    }
    .sec02 {
        width: 100%;
        background: linear-gradient(45deg, #005ef6, #01b3f7);
        .group {
            font-size: 0;
        }
        .box01 {
            vertical-align: top;
            display: inline-block;
            width: 50%;
            height: 600px;
            position: relative;
            .phone {
                position: absolute;
                bottom: 0;
                left: 20px;
                z-index: 1;
            }
            span {
                display: inline-block;
                background: rgba($color: #ffffff, $alpha: 0.1);
                border-radius: 10px;
                position: absolute;
            }
            .sq-01 {
                width: 50px;
                height: 50px;
                top: 90px;
                left: 530px;
                animation: sq01 1s infinite alternate;
            }
            .sq-02 {
                width: 70px;
                height: 70px;
                top: 120px;
                left: 480px;
                animation: sq02 1.5s infinite alternate;
            }
            .sq-03 {
                width: 60px;
                height: 60px;
                top: 350px;
                left: 50px;
                animation: sq03 1s infinite alternate;
            }
            .sq-04 {
                width: 40px;
                height: 40px;
                top: 400px;
                left: 30px;
                animation: sq04 2s infinite alternate;
            }
            .sq-05 {
                width: 30px;
                height: 30px;
                top: 450px;
                left: 80px;
                animation: sq05 1.5s infinite alternate;
            }
        }
        .box02 {
            vertical-align: top;
            display: inline-block;
            width: 50%;
            height: 600px;
            position: relative;
            text-align: right;
            .copy-box {
                display: inline-block;
                width: 440px;
                height: 600px;
                background-color: #141414;
                transform: translateX(-20px);
                text-align: left;
                position: relative;
                .text {
                    position: absolute;
                    top: 50%;
                    left: 40px;
                    transform: translateY(-50%);
                    .sec02-tit {
                        display: inline-block;
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 40px;
                        font-weight: 700;
                        color: #ffffff;
                        line-height: 50px;
                        border-bottom: solid 4px #ffffff;
                    }
                    .sec02-text {
                        padding-top: 40px;
                        font-size: 16px;
                        font-weight: 100;
                        line-height: 32px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .sec03 {
        padding: 150px 0;
        .do-slide {
            .slick-dots {
                font-size: 0;
                text-align: center;
                padding-top: 50px;
                li {
                    margin: 0 5px;
                    display: inline-block;
                }
            }
            button {
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                background: #dadada;
                border-radius: 100%;
                cursor: pointer;
            }
            .slick-active {
                button {
                    background: #005ef6;
                }
            }
            .do-item {
                margin: 0 10px;
                a {
                    display: block;
                    width: 260px;
                    height: 200px;
                }
            }
            .do-img01 {
                background: url('../img/do01.jpg') no-repeat center center;
            }
            .do-img02 {
                background: url('../img/do02.jpg') no-repeat center center;
            }
            .do-img03 {
                background: url('../img/do03.jpg') no-repeat center center;
            }
            .do-img04 {
                background: url('../img/do04.jpg') no-repeat center center;
            }
            .do-img05 {
                background: url('../img/do01.jpg') no-repeat center center;
            }
            .do-img06 {
                background: url('../img/do02.jpg') no-repeat center center;
            }
        }
    }
    .sec04 {
        width: 100%;
        height: 800px;
        background: url('../img/sec04_bg.jpg')no-repeat center center;
        position: relative;
        .inputbox {
            width: 1140px;
            height: 500px;
            background: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .inputtit {
                text-align: center;
                p:nth-child(1) {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 40px;
                    font-weight: 300;
                    padding-top: 60px;
                    
                }
                p:nth-child(2) {
                    font-size: 16px;
                    font-weight: 300;
                    padding: 30px 0;
                }
            }
            .inputcon {
                width: 100%;
                text-align: center;
                .input-box01 {
                    font-size: 0;
                    
                    input {
                        display: none;
                    }
                    label {
                        display: inline-block;
                        box-sizing: border-box;
                        width: 200px;
                        height: 60px;
                        border: solid 1px #d0d0d0;
                        text-align: center;
                        margin: 0 5px;
                        cursor: pointer;
                        .ck-icon {
                            box-sizing: border-box;
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            border: solid 1px #d0d0d0;
                            border-radius: 100%;
                            vertical-align: top;
                            transform: translateY(18px);
                            span {
                                display: inline-block;
                                background: #d0d0d0;
                                
                            }
                            span:nth-child(1) {
                                width: 6px;
                                height: 2px;
                                transform: translate(2px, 11px) rotate(45deg);
                            }
                            span:nth-child(2) {
                                width: 10px;
                                height: 2px;
                                transform: translate(-1px, 10px) rotate(-45deg);
                            }
                            
                        }
                        .ck-txt {
                            font-size: 16px;
                            color: #aaaaaa;
                            margin-left: 20px;
                            line-height: 58px;
                        }
                    }
                    input:checked + label {
                        border: solid 1px #005ef6;
                    }
                    input:checked + label > .ck-icon {
                        border: solid 1px #005ef6;
                    }
                    input:checked + label > .ck-icon > span {
                        background: #005ef6;
                    }
                    input:checked + label > .ck-txt {
                        color: #005ef6;
                    }
                }
            }
            .inputlist {
                padding-top: 20px;
                font-size: 0;
                text-align: center;
                .input-item01 {
                    display: inline-block;
                    width: 415px;
                    text-align: left;
                    input {
                        width: 95%;
                        height: 50px;
                        line-height: 50px;
                        display: block;
                        font-size: 16px;
                        text-indent: 20px;
                        border: none;
                        border-bottom: solid 1px #d0d0d0;
                        padding: 0;
                    }
                    input:nth-child(2) {
                        margin: 10px 0;
                    }
                    input:focus {
                        border-bottom: solid 1px #005ef6;
                    }
                }
                .input-item02 {
                    display: inline-block;
                    width: 415px;
                    text-align: right;
                    vertical-align: top;
                    textarea {
                        width: 95%;
                        height: 110px;
                        border: solid 1px #d0d0d0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    button {
                        width: 95%;
                        height: 50px;
                        margin-top: 13px;
                        border: none;
                        background: #005ef6;
                        color: #ffffff;
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: 700;
                        padding: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


